h1{
    font-size: 40pt;
    text-align: center;
    height:15px ;
}
h2{
    font-size: 20pt;
    text-align: center;
    height:15px ;
}
fieldset{
    background-color: rgba(151, 189, 189, 0.74);
    line-height: 20px;
    width: 30%;
    margin-left: 35%;
    
}
.tab2{
    background-color: rgba(151, 189, 189, 0.74);
    line-height: 20px;
    width: 50%;
    height: 0,60px;
    margin-left: 30%;
}
.nive{
    color: rgb(252, 253, 253);
    height: 3px;
    font-size: 10pt;
}

.botao-criar-conta {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}